target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


src/*/[Ll]ogs/*
hs_err_pid2068.log
hs_err_pid4100.log
hs_err_pid6856.log
replay_pid2068.log
replay_pid4100.log
replay_pid6856.log
src/main/resources/templates/

application.properties
*.properties
project.properties
